label.print{
  font-style: italic;
  font-weight: bold;
}

body {
  background-color:cornsilk;
}

h1 {
  font-family:Georgia, 'Times New Roman', Times, serif
  font-weight: 600;
  color:black;
}



footer {
  width: 100%;
  background-color: lightslategray;
  color: white;
  text-align:center;
}
