{% extends 'base.html' %}

{% block title %} My Recipes {% endblock %}

{% block body %} 

<h1> Welcome! </h1> 
<p> Welcome to Lau Sweets! The first and only website to feature nothing but sweets! No savory, sorry! At Lau Sweets, we are dedicated to finding and creating the chocolatiest, most decidant desserts. All recipes have been reviewed and tested by our production team to ensure high quality recipes. Hope you enjoy! </p> 
<footer> 
<img src="{{url_for('static', filename='logo-110x100.png')}}"align="middle" />
<p> Laurecipes@gmail.com </p>
<p> (515)655-4200 </p>
<p>1852 NW 127th St. Clive, IA 50325 </p>
</footer>
{% endblock %}
