{% extends 'base.html' %}

{% block title %} My Recipes {% endblock %}

{% block body %} 

<h1> Welcome! </h1> 
<p> Welcome to Lau Sweets! The first and only website to feature nothing but sweets! No savory. Sorry! At Lau Sweets, we are dedicated to finding and creating the chocolatiest, most decidant desserts. All recipes have been reviewed and tested by our production team to ensure high quality recipes. Hope you enjoy! </p> 

<p> Lau Sweets all started 17 years ago when founder and CEO Elizaheth Lau ate 8 Reeses Peanut Butter Cups at the age of 4 without batting an eye. From that moment on, she wanted to spread happiness and joy with the world through sweets. There is a reason desserts are served at major life events like birthdays and weddings! 17 years later, Lau Sweets was born. </p>

<p> Lau Sweets is a world-renowned website that has earned several accolades including: 
<ul>
    <li> Web Marketing Association's 2021 WebAward Competiton </li>
    <li> 2021 James Beard Award </li>
    <li> 2021 Bakery Innovation Award </li>
    <li> Baking Industry Award </li>
    <li> Guy Fieri's #1 Dessert Website </li>
    <li> Coldest Ice Cream Award 2021 </li>
    <li> 2021 Community Choice Award </li>
    <li> Kids' Choice Award Best Website 2021 </li>
</ul>

<img src="{{url_for('static', filename='smorespizza-355x200.jpeg')}}"alt="Smores Pizza" align="left" />
<img src="{{url_for('static', filename='brownie-218x200.png')}}"alt="Brownie" align="middle" />
<img src="{{url_for('static', filename='lemontart-300x200.jpeg')}}" alt="Lemon Tart" align="right" />
<img src="{{url_for('static', filename='chocolatesundae-266x200.jpeg')}}" alt="Chocolate Sundae" align="left" />
<img src="{{url_for('static', filename='redcake-213x200.png')}}"alt= "Red Velvet Cake" align="middle" />
<img src="{{url_for('static', filename='cookie-262x200.jpeg')}}" alt="Chocolate Chip Cookie" align="right" />
<img src="{{url_for('static', filename='icecreampie-357x200.jpeg')}}" alt="Ice Cream Pie" align="middle" />
<img src="{{url_for('static', filename='paleta-200x200.jpeg')}}" alt="Paleta" align="right" />
<img src="{{url_for('static', filename='donutstrawberry-227x200.png')}}" alt="Strawberry Donut" />
<img src="{{url_for('static', filename='lavacake-266x200.jpeg')}}" alt="Chocolate Lava Cake" />
<img src="{{url_for('static', filename='blueberry-200x200.jpeg')}}" alt="Blueberry Cake" />
<img src="{{url_for('static', filename='strawberries-200x200.jpg')}}" alt= "Chocolate Covered Strawberries" />
<img src="{{url_for('static', filename='chocolate.jpeg')}}" alt="Chocolate Ice Cream" />

<p>    </p> 
<p>    </p> 
<p>    </p> 
<p>    </p> 

<footer> 
<img src="{{url_for('static', filename='logo-110x100.png')}}" alt="Lau Sweets Logo" align="middle" />
<p> Laurecipes@gmail.com </p>
<p> (515)655-4200 </p>
<p>1852 NW 127th St. Clive, IA 50325 </p>
</footer>
{% endblock %}
